/**
 * main.css
 * (C) 2016 by Soni D.
 */

html, body {
  margin : 0;
  padding : 0;
}

a { text-decoration : none; }

#page_wrapper {
  position : relative;
  width : 100%;
  height : auto;
  margin : 0 auto; /* align center */
}

#page_wrapper > div {
  display : block;
  overflow-x : hidden;
}

#page_header {
  position : relative;
  width : 100%;
  height : auto;
}

#page_header > div { width : 100%; height : 60px; }

#header_bg1 { background-color : #004682; }
#header_bg2 { position : relative; background-color : #0071BB; }
#header_bg2 > span {
  position : absolute;
  left : 16%;
  top : 14%;
  font-family : Helvetica, Cursive;
  font-size : 35px;
  font-weight : bold;
  color : #FFF;
}

#header_bg2 > img { position : absolute; }
#header_bg2 > img:first-of-type { top : -30px; left : 5%; }
#header_bg2 > img:nth-of-type(2) { top : 5px; right : 18px; }

#page_content_wrapper {
  position : relative;
  width : 100%;
  height : 8000px;
  overflow-y : hidden;
}

#page_navi, #page_content {
  position : absolute;
  height : 100%;
}

#page_navi {
  width : 14%;
  background-color : #F5F7F7;
}

#page_content {
  width : 81%;
  left : 14%;
  padding : 12px;
  font-family : Arial, Cursive;
}

#page_navi > ul { list-style : none; padding : 0; }
#page_navi > ul:first-of-type { margin-top : 2px; }
#page_navi > ul > li {
  padding : 7px 7px 5px 15px; 
  border-top : 1px solid #0071BB;
  background-color : #DBE1E8;
  color : #0071BB;
}

#page_navi a:visited { color : #0071BB; }
#page_navi a:hover { color : #004682; cursor : pointer; }
#page_navi a:active, #page_navi a:focus { color : #004682; }

div.startseite { position : absolute; width : 100%; }
div.arbeitsblatt { position : absolute; width : 100%; }
div.arbeitsblatt:not(:first-of-type) { visibility : hidden; }
div.arbeitsblatt_code { font-family : Courier, Monospace; font-size : 14px; }

div.btnAbsenden { border : 1px solid #A4A4A4; border-radius : 4px; }
div.btnAbsenden > p { text-align : center; }
div.btnAbsenden > p:last-of-type > button { color : #489cdf; font-size : 16px; font-weight : 900; }


#page_footer {
  position : relative;
  width : 100%;
  height : 68px;
  background-color : #0071BB;
  color : #fff;
}
