/**
 * main.css
 * (C) 2016 by Soni D.
 */

html, body {
  margin : 0;
  padding : 0;
}

body { background-color : rgba(0,0,0,.18); }
a { text-decoration : none; }

#page_wrapper {
  position : relative;
  width : 1050px;
  height : auto;
  margin : 0 auto; /* align center */
  background-color : #fff;
  -webkit-box-shadow : 0 0 44px 0 rgba(0,0,0,.6);
     -moz-box-shadow : 0 0 44px 0 rgba(0,0,0,.6);
          box-shadow : 0 0 44px 0 rgba(0,0,0,.6);
}

#page_wrapper > div {
  display : block;
  overflow-x : hidden;
}

#page_header {
  position : relative;
  width : inherit;
  height : 100px;
  background-color :#2F6BB6;
}

#page_header > img {
  position : absolute; 
}

#page_header > img:last-of-type{
  bottom : 8px;
  right : 8px;
}

#page_content_wrapper {
  position : relative;
  width : 100%;
  height : 800px;
  overflow-y : hidden;
}

#page_navi, #page_content { position : absolute; height : 100%; }

#page_navi { width : 19%; background-color : #F5F7F7; }

#page_content { width : 80%; left : 19%; padding : 12px; font-family : Cursive; }

#page_navi > ul { list-style : none; padding : 0; }
#page_navi > ul:first-of-type { margin-top : 2px; }
#page_navi > ul > li {
  padding : 7px 7px 5px 15px; 
  border-top : 1px solid #0071BB;
  background-color : #DBE1E8;
  color : #0071BB;
}

#page_navi a:visited { color : #0071BB; }
#page_navi a:hover, #page_navi a:active, #page_navi a:focus { color : #004682; }

#page_content > .themen { position : absolute; width : 100%; }
#page_content > .themen:not(:first-of-type) { visibility : hidden; }
#page_content .part_title {
  margin-left : 25%;
  font-size : 40px;
  font-weight : 400;
  color : #848484;
}

#page_content .formula { margin-top : 24px; }
#page_content .formula_title { font-size : 20px; color : red; }

.tab_summary { width : 80%; }
.tab_summary th { background-color : #654; color : #fff; }
.tab_summary tr { background-color : #FFFBF1; color : #000; }
.tab_summary tr:nth-child(odd) { background-color : #E4EBF1; }
.tab_summary tr:hover { background-color : #F5D0A9; color : #fff; }
.tab_summary td { text-align : center; }

#page_footer {
  position : relative;
  width : 100%;
  height : 68px;
  background-color : #2F6BB6;
  color : #fff;
}
