<div style="font-size:24px;text-align:center">Arbeitsblatt 4<br />Funktionen und Zeiger</div>
<p>Bearbeitungsdauer: 3 Tutorstunden zu je 90 Minuten. Bearbeitungszeitraum: 02. Juni - 07. Juli 2016</p>
        
<p>Nur wenige einfache Aufgaben lassen sich elegant mit der bisher verwendeten Methodik programmieren, bei der der Programmierer die Befehlsfolgen ohne weitere Gliederung aneinander reiht. Fehlende Gliederung führt häufig zu einem erhöhten Aufwand beim Fehlersuchen. In diesem Arbeitsblatt erleben Sie, wie Sie Ihre komplexe Aufgabe in Teilaufgaben unterteilen und Ihren Quellcode mit Funktionen entsprechend gliedern können.</p>
        
<p>Zeiger sind dagegen ein Werkzeug, mit dem Sie flexibler mit dem Speicher umgehen können. Ein Zeiger ist eine Variable, die schlicht eine Speicheradresse aufnehmen kann. Mit ihnen können Sie auf beliebige Speicherbereiche Ihres Programms zugreifen. Sie sind auch ein essentielles Werkzeug, um Speicher zur Laufzeit (also dynamisch) reservieren zu können – zum Beispiel mit malloc.</p>
        
<p>Lesen Sie für dieses Arbeitsblatt bitte die Kapitel 10 und 11 im Skript.</p>



<!--*********************** Aufgabe 401 ************************************-->
<h3>Aufgabe 401<br />Umrechnung von Temperatureinheiten</h3>

<div class="btnAbsenden">
  <p>Beantworten Sie alle Multiple-Choice-Aufgaben und klicken Sie dann auf "Absenden".</p>
  <p>Bisher erreichte Punkte: </p>
  <p><button type="button" id="btn401" name="btn401" onclick="absenden(this)">Absenden</button></p>
</div>

<p>Nachfolgendes Programm rechnet zwischen den Temperatureinheiten Grad Celsius und Fahrenheit um. Dazu gibt es für jede Umrechnungsart eine eigene Unterfunktion. Mit den folgenden Teilaufgaben können Sie den Umgang mit Funktionen in C einüben und erleben dabei eine Methode zur Gliederung von komplexen Problemen in Teilprobleme.</p>

<div class="arbeitsblatt_code" title="r15">
#include &lt;stdio.h&gt;
_
_
void fahrenheutToCelsius()
{
____double fahrenheit, celsius;
_
____printf("Temperatur in Fahrenheit: ");
____scanf("%lf", &fahrenheit);
_
____celsius = 5.0/9.0 * (fahrenheit - 32.0);
____printf("Temperatur in Grad Celsius: %.1lf\n", celsius);
}
_
_
void celsiusToFahrenheit()
{
____double celsius, fahrenheit;
_
____printf("Temperatur in Celsius: ");
____scanf("%lf", &celsius);
_
____fahrenheit = 9.0/5.0 * celsius + 32.0;
____printf("Temperatur in Fahrenheit: %.1lf\n", fahrenheit);
}
_
_
int main()
{
____int menue;
_
____do {
______/* Menü */
______printf("\n" );
______printf("*****************************************\n");
______printf("* Bitte waehlen Sie eine Umrechnungsart:\n");
______printf("* 1) Grad Celsius in Fahrenheit umrechnen\n");
______printf("* 2) Fahrenheit in Grad Celsius umrechnen\n");
______printf("* 3) Beenden\n");
______printf("*****************************************\n");
______printf("Auswahl: ");
______scanf("%i", &menue);
_
______/* Temperatur umrechnen */
______switch ( menue ) {
________case 1 :
__________celsiusToFahrenheit();
__________break;
_
________case 2 :
__________fahrenheitToCelsius();
__________break;
______}
_
____} while ( menue != 3 );
_
____return 0;
}
</div>

<ul style="list-style-type: lower-latin;">
<li>Versuchen Sie bitte als erstes, obigen Code zu verstehen. Gehen Sie ihn Schritt für Schritt durch. Compilieren Sie das Programm auch und testen Sie es mit verschiedenen Temperaturwerten. Zur einfacheren Handhabung finden Sie den Code bereits in Brad als Angabe zu Aufgabe 401c.<p></p>
</li>
<li>Wozu gibt es das Konzept der Funktionen in C?
  <fieldset style="border:none">
    <input type="radio" id="" name="" value=""><label for="">In C bilden Funktionen die mathematischen Funktionen eines Taschenrechners nach</label><br />
    <input type="radio" id="" name="" value=""><label for="">In C prüfen Funktionen, ob ein Programm funktioniert</label><br />
    <input type="radio" id="" name="" value=""><label for="">In C sind Funktionen Leuchtmarken im Quellcode, mit denen man kritische Passagen markieren kann</label><br />
    <input type="radio" id="" name="" value="r"><label for="">In C sind Funktionen Leuchtmarken im Quellcode, mit denen man kritische Passagen markieren kann</label>
  </fieldset>
</li>
<li>
<p>In umfangreichen Programmierprojekten trennen Programmierer üblicherweise die Darstellung (Benutzerschnittstelle, engl. view) von der Logik (Modell, engl. document / model), um ihr Programm sinnvoll zu gliedern.</p>

<p>Schreiben Sie deshalb das Programm jetzt so um, dass in den Unterfunktionen nur noch die Umrechnungsformeln verbleiben, alle printf- und scanf-Aufrufe dagegen in main zu finden sind. Die Funktionalität soll dabei exakt erhalten bleiben. Zwischen main und den Unterfunktionen sollen Sie die nötigen Informationen durch Funktionsparameter und Rückgabewerte austauschen.</p>

<p>Betrachten Sie abschließend auch die entstandenen Funktionen. Sie führen die Umrechnungen in einer so allgemeinen Form durch, dass jeder sie leicht in anderen Programmen wiederverwenden kann. Solange die Ein- und Ausgaben noch in diesen Funktionen waren, war das nicht möglich, weil sie beispielsweise zu keinem Programm mit graphischer Oberfläche gepasst hätten.</p>
<p><a href="https://bitbucket.org/s0nda2/tum/src/0d28f5e682aa9a4450e4869bec1281ce54096fe9/CS/content/material/angabe/401c_temperatur_angabe.c?at=master&fileviewer=file-view-default" target="_blank">
<img src="assets/media/imgs/gnome-file-c.png" /></a></p>
</li>
</ul>




<!--*********************** Aufgabe 403 ************************************-->
<h3>Aufgabe 403<br />Sortieren mit Quicksort</h3>

<p>Wenn Sie in letzter Zeit eine größere Anzahl Dinge zu sortieren hatten (einen Karteikasten mit den Englisch-Vokabeln auf über 2000 Kärtchen, einen Diakasten mit 200 Dias oder die eigene riesige CD-Sammlung), wissen Sie vermutlich, dass es am effizientesten ist, wenn man beim Einsortieren von Kärtchen, Dias oder CDs zuerst viele kleine Häufchen bildet, diese einzeln sortiert und dann die sortierten Einzelhaufen zusammenfügt. Diese Sortiertechnik heißt in der Informatik Quicksort und ist im Folgenden verbalisiert gegeben:</p>

<div class="arbeitsblatt_code">
UNTERPROGRAMM Quicksort(links, rechts):
__VARIABLE i, j, x;
__BEGINNE
____i = links; j = rechts;
____x = Feld[(links+rechts) / 2];
_
____WIEDERHOLE
______SOLANGE Feld[i] &lt; x:
________i = i + 1;
______ENDE SOLANGE
_
______SOLANGE x &gt; Feld[j]:
________j = j - 1;
______ENDE SOLANGE
_
______WENN i <= j,
______DANN
________TAUSCHE Feld[i] Mit Feld[j];
________i = i + 1; j = j - 1;
______ENDE DANN
____BIS i >= j
_
____WENN links &lt; j,
____DANN
______Quicksort(links, j);
____ENDE WENN
_
____WENN i &lt; rechts,
____DANN
______Quicksort(i, rechts);
____ENDE WENN
ENDE UNTERPROGRAMM
</div>

<p>Der Quicksort-Algorithmus ist auch ein schönes Beispiel für die zu Unrecht oft gehasste Rekursion. Die iterative Lösung dieses Problems wäre weitaus komplizierter und aufwendiger.</p>

<ul style="list-style-type: lower-latin;">
<li>Was ist ein rekursiver Algorithmus?
  <fieldset style="border:none">
    <input type="radio" id="" name="" value="r"><label for="">Ein Algorithmus, der sich selbst wieder aufruft.</label><br />
    <input type="radio" id="" name="" value=""><label for="">Ein Algorithmus, der mehr als ein Element berechnet.</label><br />
    <input type="radio" id="" name="" value=""><label for="">Ein Algorithmus, der die Berechnung rückwärts durchführt.</label><br />
    <input type="radio" id="" name="" value=""><label for="">Ein Algorithmus des Amerikaners Recure.</label>
  </fieldset>
</li>
<li>An welchen Zeilen können Sie im obigen Algorithmus erkennen, dass er ein rekursiver Algorithmus ist?
<fieldset style="border:none">
    <input type="checkbox" id="" name="" value=""><label for="">Zeile 13</label><br />
    <input type="checkbox" id="" name="" value=""><label for="">Zeile 16</label><br />
    <input type="checkbox" id="" name="" value="r"><label for="">Zeile 25</label><br />
    <input type="checkbox" id="" name="" value="r"><label for="">Zeile 30</label>
  </fieldset>
</li>
<li>Arbeiten Sie den Algorithmus auf einem Blatt Papier für den Feldinhalt { 5, 7, 3, 9, 8 } und für die Startwerte Null für links und vier für rechts durch. Wie oft „rufen Sie“ dabei die Funktion Quicksort auf?
  <fieldset style="border:none">
    <input type="radio" id="" name="" value=""><label for="">1</label><br />
    <input type="radio" id="" name="" value=""><label for="">3</label><br />
    <input type="radio" id="" name="" value="r"><label for="">5</label><br />
    <input type="radio" id="" name="" value=""><label for="">7
  </fieldset>
</li>
<li>
Verwirklichen Sie den Algorithmus in C. Schreiben Sie dazu die Funktion Quicksort.<p></p>
Die <code>main</code>-Funktion ist bereits vorgegeben. Sie kümmert sich um das Einlesen und Ausgeben der Zahlen. 
<span style="font-style:italic;">Lassen Sie diese Funktion bitte unbedingt unverändert!</span>
Implementieren Sie lediglich eine Funktion Quicksort nach obigem Algorithmus.
<p><a href="https://bitbucket.org/s0nda2/tum/src/0d28f5e682aa9a4450e4869bec1281ce54096fe9/CS/content/material/angabe/403d_qsort_angabe.c?at=master&fileviewer=file-view-default" target="_blank">
<img src="assets/media/imgs/gnome-file-c.png" /></a></p>
</li>
</ul>





<!--*********************** Aufgabe 408 ************************************-->
<h3>Aufgabe 408<br />Quicksort mit Zeigerarithmetik</h3>

<p>Wenn man viel mit Feldern arbeitet wie beispielsweise beim Quicksort-Algorithmus oder beim iterativen Algorithmus zur Q-Folge, ist es üblich, die Berechnungen und Speicherzugriffe mit Hilfe von Zeigern zu realisieren. Dazu gibt es die Zeiger-Arithmetik in C, also Rechenoperationen auf Speicheradressen. Sie sind in der Regel sehr effizient. In einigen Fällen ist eine solche Implementierung auch übersichtlicher, in anderen Fällen dagegen unübersichtlicher.</p>

<ul>
  <li>Schreiben Sie den Quicksort-Algorithmus aus Aufgabe 403 so um, dass er mit Zeigern arbeitet statt mit Feldern. 
      Er ist dadurch schneller, übersichtlicher und kommt ohne globale Variablen aus. 
      Implementieren Sie dazu die Funktion Quicksort.<p></p>
      Die main-Funktion ist bereits vorgegeben. Sie kümmert sich um das Einlesen und Ausgeben der Zahlen. 
      Lassen Sie diese Funktion bitte unbedingt unverändert. Implementieren Sie lediglich eine Funktion Quicksort 
      gemäß obigen Vorgaben.
      <p><a href="https://bitbucket.org/s0nda2/tum/src/0d28f5e682aa9a4450e4869bec1281ce54096fe9/CS/content/material/angabe/408a_pointer_angabe.c?at=master&fileviewer=file-view-default" target="_blank">
         <img src="assets/media/imgs/gnome-file-c.png" /></a></p>
  </li>
</ul>

