<div style="font-size:24px;text-align:center">Arbeitsblatt 3
  <br />Zusammengesetzte Datentypen
</div>
<h3>Aufgabe 307<br />Wochentagsberechnung</h3>
<p>Schreiben Sie ein Programm, um den Wochentag an einem bestimmten Datum zu bestimmen. Berücksichtigen Sie folgende Regeln für das Schaltjahr. Sie haben diese Bedingungen programmiertechnisch bereits in Aufgabe 204 umgesetzt.</p>

<ul>
  <li>Ein Jahr, dessen Jahreszahl durch 4 teilbar ist, ist ein Schaltjahr ...</li>
  <li>..., außer wenn die Jahreszahl durch 100 teilbar ist.</li>
  <li>Ist die Jahreszahl durch 400 teilbar, dann ist das entsprechende Jahr aber trotzdem ein Schaltjahr. (Beispielsweise ist 1900 kein Schaltjahr, 2000 ist aber ein Schaltjahr).</li>
</ul>

<p>Zusätzlich soll das (fiktive) Jahr 0 kein Schaltjahr und der 1. Januar 00 ein Sonntag gewesen sein.</p>

<p>Fragen Sie zu Beginn das Datum mit
  <ul style="list-style-type:none">
    <li>"Jahr: "</li>
    <li>"Monat: "</li>
    <li>"Tag: "</li>
  </ul>
  
ab. Überprüfen Sie dessen Korrektheit (Tag und Monat im gültigen Bereich; Jahr ≥ 0) und brechen Sie bei einer fehlerhaften Eingabe sofort mit der Meldung

  <ul style="list-style-type:none">
    <li>"Falsche Eingabe."</li>
  </ul>
  
ab. War das eingegebene Datum in Ordnung, geben Sie den Wochentag mit

  <ul style="list-style-type:none">
    <li>"Der xx.xx.xxxx ist ein yyyyyyy."</li>
  </ul>
  
aus. Dabei ist xx.xx.xxxx das eingegebene Datum, beispielsweise in der Form 13.01.736, und yyyyyyy der Wochentag, beispielsweise Donnerstag.</p>

<h4>Hinweise zur Lösung:</h4>
<ul>
  <li>Berechnen Sie zur Lösung der Aufgabe die Anzahl der Tage, die seit dem 1.1.00 vergangen sind.
  <li>Denken Sie an die Besonderheit des Monats Februar. Er hat üblicherweise 28 Tage, in Schaltjahren aber 29.</li>
  <li>Ein Nichtschaltjahr hat 365 Tage, ein Schaltjahr 366 Tage.</li>
  <li>Wie bei allen anderen Aufgaben kann auch hier die Ausgabe von Zwischenwerten bei der Fehlersuche sehr hilfreich sein. Geben Sie die Anzahl der Tage aus, die seit dem 1.1.00 vergangen sind, eventuell auch noch weitere Werte. Tun Sie das aber nur am Anfang (um Fehler schneller mit Hilfe des Terminals zu finden) und entfernen Sie diese Ausgabe wieder, ehe Sie Brad prüfen lassen.</li>
  <li>Sie werden als Teilproblem die Anzahl an Tagen in einem Monat ermitteln müssen. Dies ist natürlich über eine switch-Anweisung möglich. Um Ihnen die Arbeit zu erleichtern, können Sie aber auch ein Feld monatstage benutzen. In diesem speichern Sie zu jedem Monat die Anzahl der Tage des Monats (z.B. monatstage[4] = 30 für den April).</li>
  <li>Selbiges gilt für den Namen eines Wochentags: Auch hier können Sie eine switch-Anweisung sparen. Sei w die Nummer des Wochentags (0, ..., 6), so gibt wochentag[w] den Namen des Wochentags. Dabei entspricht z.B. 0 dem Sonntag, 1 dem Montag und 6 dem Samstag.</li>
  <li>Damit Ihr Programm eine klare Strukture erhält, sollten Sie gleich nach der Eingabe und Überprüfung der Jahreszahl berechnen, ob diese Jahreszahl zu einem Schaltjahr gehört. Speichern Sie das Ergebnis der Berechnung zur späteren Verwendung dann in einer Variablen (z.B. istSchaltjahr).</li>
</ul>
<p></p>

<ol type="a">
  <li>Berechnen Sie auf einem Blatt Papier für die folgenden Datumsangaben die Anzahl der Tage, die seit dem 1. Januar 00 vergangen sind. Leiten Sie dann daraus den Wochentag des jeweiligen Datums ab. Vergleichen Sie Ihre Berechnungen mit dem Lösungsprogramm (307c_loesung).

  <ul style="list-style-type:circle">
    <li>1.1.00</li>
    <li>1.2.00</li>
    <li>1.3.00</li>
    <li>1.1.01</li>
    <li>1.4.01</li>
    <li>1.1.04</li>
    <li>1.4.04</li>
    <li>1.1.05</li>
    <li>1.1.06</li>
    <li>1.1.100</li>
    <li>1.1.101</li>
    <li>1.1.400</li>
    <li>1.1.401</li>
  </ul>

  <li>Formulieren Sie nun in natürlicher Sprache Ihr Vorgehen bei den obigen Berechnungen auf einem Blatt Papier. Erwähnen Sie dabei jeden auch noch so kleinen Schritt.</li>

  <li>Implementieren Sie dieses Vorgehen als Programm in Brad. Geben Sie dabei zum Testen die berechnete Anzahl der seit dem 1.1.00 vergangenen Tage aus und vergleichen Sie diese mit Ihren eigenen Berechnungen. Um Fehler in Ihrem Programm aufzuspüren, empfehle ich Ihnen, schrittweise die in Teilaufgabe a genannten Daten der Reihe nach auszuprobieren.</li>
</ol>
