<code style="color:yellow;background-color:#000;padding:6px">
ssh -4XC -c blowfish-cbc,arcfour -o "PreferredAuthentications=password" XXXXXX@linuxYY.clients.eikon.tum.de
</code>
<p></p>
<span style="color:red">XXXXXX</span> = TUM-Kennung, z.B. di28mat<br />
<span style="color:red">YY</span> = Nummer des Eikon-Rechners, z.B. 67,68,69,70,..
